<div *ngIf="!pais; else divPais"
    class="alert alert-info">
    Espere por favor....
</div>

<ng-template #divPais>
<div class="row">
<div class="col-4">
  <h3>Bandera</h3>
  <img [src]="pais.flags.svg" class="img-thumbnail" alt="Imagen"  />
</div>

<div class="col">
<h3>Información</h3>
<ul class="list-group">
  <li class="list-group-item">
    <strong>Población</strong>{{pais.population | number }}
  </li> 
  <li  class="list-group-item">
  <strong>Área</strong> {{pais.area | number}}
  </li>
  <li  class="list-group-item">
  <strong>Código ccn3</strong> {{pais.ccn3 }}
  </li>
</ul>

<h3>TRADUCCIONES</h3>
<div class="row">
  <div class="col">

    <span class="badge bg-primary mr-1">{{pais.translations.de}}</span>
  
  </div>

</div>



</div>

</div>
</ng-template>


